@import "../css/colors";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   padding: 5px 40px;
   overflow-x: hidden;
   font-family: 'Montserrat';
}
.direktor{
      position: fixed;
      z-index: 2;
      height: 190px;
      width: 190px;
      font-size: 13px;
      margin: 200px 0px 0 -40px;
      p{
         font-size: 9px;
      }
   }
header {
   nav {
      .navbar-nav {
         position: relative;
         margin-left: 400px;
         margin: 0 auto;
      }

      li {
         list-style-type: none;
         margin: 10px;

         a {
            text-decoration: none;
            color: black;
         }

      }
   }
}

menu {
   .one {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      ul {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: flex-start;
         padding: 80px 40px;
         color: $primaryColor;
         background-image: url(../img/gradientimg.png);
         background-position: 100%;
         background-repeat: no-repeat;

         li {
            list-style: none;
            margin: 10px 0px;

            button {
               padding: 4px 20px;
               border-radius: 8px;
               border: 1px solid grey;
            }
         }
      }
   }
}
.subjects{
   display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   .container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }
   .card{
      margin: 15px 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   }
}

@media only screen and (min-width: 991px) {
   .navbar-nav {
         position: relative;
         left: 260px;
         margin: 0 auto;
      }
}